
[build]
  command = "npm run build"
  publish = "dist"

[build.environment]
  NODE_VERSION = "20"
  CI = "false"

# Handle Single Page Application routing (Redirect all to index.html)
[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200
